body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cccccc;
}

h3 {
  color: #43045c;
}

h5 {
  text-transform: capitalize;
  color: #43045c;
}

p {
  text-indent: 10px;
}

.b {
  text-indent: -12em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #43045c;
  color: rgb(255, 255, 255);
  text-align: center;
}

.dark-mode {
  background-color: rgb(0, 0, 0);
}

.dark-mode h1 {
  color: rgb(255, 255, 255);
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
  margin-bottom: 20vh;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-bottom: 50px;
}

.note.new {
  background-color: #ffffff;
  border: 2px #43045c solid;
  color: #43045c;
  min-height: 30vh;
}

textarea {
  border: none;
  resize: none;
  background-color: none;
  margin: 10px;
}

textarea:focus {
  outline: none;
}

.darkmode {
  background-color: #000000;
  color: rgb(252, 252, 252);
  border: solid #000000 3px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.save {
  background-color: #43045c;
  color: rgb(252, 252, 252);
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: #43045c;
  cursor: pointer;
}

.note {
  background-color: #43045c;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  margin-bottom: 20px;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.search input:focus {
  outline: none;
}
